.post-archives, .category-archives, .tag-archives {
  margin-right: auto;
  margin-left: auto;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      margin: 0 1rem (1rem/2) 0;
    }
  }
}


.archive {
  h1 {
    border-bottom: $border__dash;
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
  article {
    border-bottom: $border__dash;
  }
}


