.post-archives, .category-archives, .tag-archives {
  margin-right: auto;
  margin-left: auto;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      margin: 0 1rem (1rem/2) 0;
    }
  }
}


