html {
  padding: 5%;
}

a {
  @include anchor;
}

body {
  background-color: $color__background;
  color: $color__mainfont;
  font-family: $fontface__main;
  font-size: $font__size;

  button {
    font-family: $fontface__main;
  }
  h1,
  h2 {
    font-weight: 500;
  }
}

.site {
  @include container-block;
}

button {
  border-radius: 3px;
  color: $color__link;
  background-color: $color__background;
  box-shadow: none;
  text-shadow: none;
  padding: 7px 35px;
  border: $border_button;
  font-size: $font__size;
  line-height: 1.5;
  &:focus {
    outline: 0;
  }
  @include desktop {
    position: relative;
    left: 30%;
  }
  &:hover {
    border-radius: 3px;
    color: darken($color__link, 10%);
    background-color: $color__background;
    box-shadow: none;
    text-shadow: none;
    border: 2px solid darken($color__link, 10%);
    font-size: $font__size;
    line-height: 1.5;
  }
}

.entry-content {
  p {
    font-size: $font__size;
    font-weight: $font__Hweight;
    padding-top: 0;
    padding-bottom: 2rem;
    margin: 0;
    @include tablet {
      font-size: 1.75rem;
    }
    @include desktop {
      font-size: 2.5rem;
    }
  }
}

.entry-meta {
  align-items: center;
  line-height: 1;
  margin-bottom: 3rem;

  h2 {
    display: inline;
    margin: 0;
    font-size: $font__size;
    font-weight: $font__Pweight;
  }
  a {
    line-height: 1;
    font-size: $font__size;
    font-style: italic;
  }
}

.source {
  a {
    font-size: $font__size;
    font-weight: $font__Pweight;
  }
}
span {
  font-size: $font__size;
  font-weight: $font__Pweight;
  line-height: 1.75;
}

