// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

@mixin form {
  
  background-color: $color__background;
  border: $border_button;
}

@mixin body {
  body {
    background-color: $color__background;
    color: $color__mainfont;
    font-family: $fontface__main;
    font-size: 1.25;
    button {
      font-family: $fontface__main;
    }
  }
}

@mixin anchor {
  font-family: 'exo', sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: $color__link;
  line-height: 1.5;
  &:hover {
    color: darken($color__link, 10%);
  }
}

$tablet-width: 600px;

$desktop-width: 1080px;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
