.fa-quote-left {
  display: none;
}

@include desktop {
  .site {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    .fa-quote-left {
      color: $color__link;
      position: absolute;
      font-size: 125px;
      left: -230px;
      top: 175px;
    }
    .fa-quote-right {
      color: $color__link;
      position: absolute;
      right: -230px;
      font-size: 125px;
      top: 175px;
    }
  }
}
